@media only screen and (min-width:300px) and (max-width:576px){
.menu{
position:absolute;
transition: .3s;
top: 0px;
left: -100%;

width: 80%;

}
.logo {
    width: 45px;
}
.desktop-bar{
	display:block;
}
.header{
   
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}
.highlight-smartcity-head {
    width: 100%;
}
.highlight-smartcity-images {
  
    padding: 0px;

    }
.menu>ul {
    padding: 15px;
    flex-direction: column;
    
    background: #fff;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
  
}
.menu ul li{
    font-size: 15px;
    margin-bottom: 15px;
}
.activeMenu{
    left: 0%;

}
.form-visit {
    width: calc(100% - 30px);

    padding: 20px 15px;
}


.form-visit-dt>form {

    flex-direction: column;
}
.form-visit-head>h4 {
    font-size: 23px;
 
}
.form-visit-dt>form>input {
    padding: 10px;
    flex-basis:90%;
    margin-bottom: 15px;
}
.form-visit-dt>form>.btn-form {
    padding: 10px;
    flex-basis:90%
}
.form-visit-head {
    width: 100%;
   
}
.smart-city {
    width: calc(100% - 30px);
    padding: 0px 15px;
 }
 .smart-city-head {
    width: 100%;

    padding: 30px 0px;
}
.smart-city-head>h4 {
    font-size: 23px;
    margin-bottom: 15px;
}
.smart-city-img {
    flex-direction: column;
    align-items: center;
}
.smart-city-img>img {
    width: 85%;
}
.project-overview {
    width:100%;
    padding:0px 0px 30px 0px;
}
.project-overview-head {
    width: 100%;
flex-direction: column;
}
.project-img {
    width: 100%;
    height: 300px;
} 
.project-img img {
    width: 100%;
    height: 100%;
}  

.project-content{
    padding:15px;
}

.project-content>h4 {
    font-size: 23px;
      margin-bottom: 15px;
}
.project-content>p {
    font-size: 13px;

    margin-bottom: 15px;
}
.plot-size {
    display: flex;
    margin-bottom: 20px;
}
.more-than {
    width: calc(100% - 30px); 
    padding: 0px 15px;
}
.more-than-items{
    width: 100%;
}
.more-than-head>h4 {
    font-size: 23px;
    margin-bottom: 15px;
}
.more-than-item {
    flex-direction: column;
}
.more-than-item1 {
      margin-bottom: 15px;
    
}
.more-than-item1>img {
    margin-right: 15px;
    width: 90px;
}
.more-than-item1>h5 {
        font-size: 16px;
}
.more-than-item3 {
    margin-bottom: 15px;
    justify-content: space-between;
  
}
.more-than-item3>img {
 
  width: 90px;
}
.more-than-item3>h5 {
      font-size: 16px;
}
.pebra {
    width: calc(100% - 30px);
    padding: 30px 15px;
}
.pebra-width{
    width: 100%;
}
.perbra-images {
    flex-wrap: wrap;
}
.pebra-item1 {
    flex-basis: 35%;
    margin-bottom: 10px;
}
.map {
    width: 100%;
    padding: 25px 0px;
}
.price-list{
    width: calc(100% - 30px);
    padding: 20px 15px;
}
.price-list-width{
    width: 100%;
}
.price-list-head>h3 {
    font-size: 23px;
    padding: 20px 0px;
}
.price-list-table>table {
    width: 90%;
    margin: auto;
}

.highlight-smartcity{
    width: calc(100% - 30px);
    padding: 20px 15px;
}
.highlight-smartcity-width{
    width: 100%;
}
.highlight-smartcity-items>h3 {
    font-size: 23px;
    padding: 20px 0px;
}
.highlight-smartcity-img1 {
    text-align: center;
    margin: 20px 0px;
    flex-basis:35%;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px #ccc;
}
.smart-project{
    width: calc(100% - 30px);
    padding: 20px 15px;
}
.smart-project-width{
    width: 100%;
}
.smart-project-head>h3 {
    font-size: 23px;
}
.smart-project-videos {
    flex-direction: column;
}
.smart-project-items {
    flex-basis: 90%;
    margin-bottom: 15px;
}
.site-plan{
    width: calc(100% - 30px);
    padding: 20px 15px;
}
.site-plan-width{
    width: 100%;
}
.site-plan-head>h3 {
    font-size: 23px;
}
.site-plan-image>img {
    width: 80%;
    margin-bottom: 20px;
}
.site-plan-btn {
  
    margin-top: 20px;
    width: 200px;
}
.site-plan-btn>button {
        padding: 20px 17px;
    font-size: 16px;
}
.location-plan{
        width: calc(100% - 30px);
        padding: 20px 15px;
    }
    .location-plan-image>img {
        width: 80%;
        margin-bottom: 20px;
    }
    .location-plan-width{
        width: 100%;
    }
    .location-plan-head>h3 {
        font-size: 23px;
    }
.amenities{
    width: calc(100% - 30px);
    padding: 20px 15px;
}
.amenities-width{
    width: 100%;
}
.amenities-head>h3 {
    font-size: 23px;
}
.amenities-images {
    display: flex;
    justify-content: center;
    gap: 3%;
  
    padding-top: 15px;
    width: 100%;
    flex-wrap: wrap;
}
.amenities-item>p {
    font-size: 16px;
}
.faq-q {

    font-size: 16px;
  
    padding-left: 20px;
}
.activeContent {
    max-height: fit-content !important;
    font-size: 14px;
}
.amenities-item {
    margin-bottom: 15px;
   
    flex-basis: 40%;

    box-shadow: 0px 0px 10px 2px #ccc;
}
.faq {
    width: calc(100% - 30px);
    padding: 20px 15px;
}
.faq-width{
    width: 100%;
}
.faq-head>h3 {
    font-size: 23px;
}
.faq-qa-items {
    width: 100%;
    margin: auto;
    padding: 40px 0px 0px 0px;
}
.project-gallery{
    width: calc(100% - 30px);
    padding: 20px 15px;
}
.project-gallery-width{
    width: 100%;
}
.project-gallery-head>h3 {
    font-size: 23px;
   
}
.project-gallery-imf-item {
    width: 100%;
    flex-basis: 100%;
    height: 200px;
    margin-bottom: 25px;
}
.imgBox {
    width: 90%;
    left: 5%;
    top: 30%;
    height: 60%;
}
.home-loan{
    width: calc(100% - 30px);
    padding: 20px 15px;
}
.home-loan-width{
    width: 100%;
}
.home-loan-head>h3 {
    font-size: 23px;
}
.home-loan-images{
    flex-wrap: wrap;
}
.home-loan-item {
    margin: 3%;
    flex-basis: 35%;
}
.schedule{
    width: calc(100% - 30px);
    padding: 20px 15px;
}
.schedule-width{
    width: calc(100% - 28px);
    flex-direction: column;
}
.schedule-img{
    width: 100%;
}
.schedule-content {
   
    padding: 30px 0px;
}
.schedule-content>h3 {
    font-size: 23px;
}
.schedule-btn{
    flex-direction: column;
    align-items: center;
}
.schedule-btn-icon>button{
    margin-bottom: 15px;
}
.footer {
    width: 100%;
    padding: 30px 0px;
}
.footer-width {
    width: calc(100% - 30px);
    padding: 0px 15px;
}
.footer-head {
    flex-direction: column;
}
.footer-inner-part1>h2 {
    font-size: 23px;
    line-height: 41px;
    text-align: center;
    margin-bottom: 15px;
}
.footer-outer {
       padding-top: 20px;
}
}